mvvm/resources/schema/mvvm-transform.rng

<element name="mvvm-transform"
         xmlns="http://relaxng.org/ns/structure/1.0">

  <interleave>
    <element name="transform-desc">
      <attribute name="name"/>
      <attribute name="classname"/>
      <attribute name="casing"/>
      <attribute name="single-instance"/>
      <attribute name="display-name"/>
      <attribute name="gui-classname"/>
    </element>
  </interleave>

  <zeroOrMore>
    <element name="parent"><text/></element>
  </zeroOrMore>

</element>
